<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='ngo_search.css') }}"
    />
    <title>NGO Search</title>
  </head>
  <body>
    <section class="hero">
      <h1>Search for required <span>NGO</span> here!</h1>
      <p>
        Find the right support when you need it—search our network to connect
        with NGOs ready to help.
      </p>
      <div class="search-bar">
        <input
          type="text"
          id="jobSearch"
          placeholder="Search for any disease or location, e.g., Pune"
        />
        <button onclick="searchNGO()">Search</button>
      </div>
    </section>

    <section class="popular-search">
      <div class="job-cards" id="results-container">
        <!-- NGO results will be dynamically inserted here -->
      </div>
    </section>

    <script src="{{ url_for('static', filename='ngo_search.js') }}" type="module"></script>
  </body>
</html>